<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <center>
        <h2  class="display-1">Iniciar sesión</h2>
        <div class="row">
        
            <div class="col-sm">
                <form method="POST">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>

  
    
    <hr />
    <a href="/register">Registrar usuario</a>
</center>
</div>
</body>
</html>